#todo{
    margin-left: 600px;
    margin-top: 100px;
}

#titulo{
    margin-bottom: 50px;
    margin-left: 10PX;
}

#login{
    padding-top: 40px;
    padding-bottom: 250px;
    padding-left: 160px;
    padding-right: 120px;
    width: 20%;
    border: solid black 2px;
    border-radius: 6px;
    background-color: beige;
}

button {
    padding-left: 50px;
    padding-right: 35px;
    background-color: red;
    color: white;
}

#mario{
    position: absolute;
    width: 250px;
    left: 890px;
    bottom: 60px;
}

img {
    max-width: 100%;
    height: auto;
}
@media only screen and (max-width: 700px){
    #todo{
        margin-left: 50px;
        margin-top: 10px;
    }
    #titulo{
        margin-bottom: 8px;
        margin-left: 1PX;
    }
    #login{
        padding-top: 30px;
        padding-bottom: 100px;
        padding-left: 140px;
        padding-right: 180px;
        width: 20%;
        border: solid black 2px;
        border-radius: 6px;
        background-color: beige;
    }
    #mario{
        position: absolute;
        width: 140px;
        left: 360px;
        bottom: 1px;
    }
}
@media only screen and (1025px < width < 1400px){
    #todo{
        margin-left: 360px;
        margin-top: 20px;
    }
    #titulo{
        margin-bottom: 10px;
        margin-left: 5PX;
    }
    #login{
        padding-top: 30px;
        padding-bottom: 200px;
        padding-left: 160px;
        padding-right: 120px;
        width: 20%;
        border: solid black 2px;
        border-radius: 6px;
        background-color: beige;
    }
    #mario{
        position: absolute;
        width: 200px;
        left: 700px;
        bottom: 1px;
    }
}



