body {
    background-image: url(../img/mapa4.jpg);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

marquee {
    font-size: 18px;
    padding: 10px;
    background-color: #ffde00;
    color: #000000;
}

h1 {
    font-size: 36px;
    margin-top: 20px;
    color:aquamarine;
    background-color: slategray;
}

strong{
    background-color:slategrey;
    font-size: 1.25rem;
    color:aquamarine;
}

#temporizador {
    font-size: 18px;
    color: blue;
    margin-top: 10px;
}

form {
    margin-top: 20px;
    text-align: center;
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #e62117;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #ff4500; 
}


.swal2-popup {
    font-size: 18px;
}

#contenedor{
    padding: 15%;
    border: 5px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 2%;
}
#cuentaregresiva {
    color: #ff0000;
    padding: 0.5%;
    border: 5px solid #ffffff;
    border-radius: 10px;
}
@media only screen and (max-width: 700px){
    body {
        background-image: url(../img/mapa4.jpg);
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    #contenedor{
        padding: 10%;
        border: 5px solid #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        text-align: center;
        margin: 2%;
    }
}
@media only screen and (1025px < width < 1400px){
    body {
        background-image: url(../img/mapa4.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        font-family: 'Press Start 2P', cursive;
        height: 100vh;
        margin: 0;
    }
    #contenedor{
        padding: 8%;
        border: 5px solid #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        text-align: center;
        margin: 2%;
    }
}